/*
Modules And Variables - declarations, functions, and variables
These are things that don't output CSS
*/
/*
Partials - these generate the bulk of the CSS, separated by categories
*/
@import url("https://fonts.googleapis.com/css?family=Quicksand|Fira+Sans|PT+Sans+Narrow");
@import url("https://fonts.googleapis.com/css?family=Quicksand|Fira+Sans|PT+Sans+Narrow");
body {
  width: 100%;
  position: absolute; }

.static {
  position: relative;
  width: 5000px;
  bottom: 0;
  margin-top: 300px; }

.boatContainer {
  display: flex;
  flex-direction: column;
  width: 600px;
  position: sticky;
  bottom: 0;
  left: 0;
  margin-bottom: 30px;
  z-index: 100; }

.sailContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: center; }

.baseBoatContainer {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center; }

.boat {
  background-color: brown;
  height: 100px; }

.boatSide {
  width: 100px;
  width: 100px;
  height: 100px; }

.boatMiddle {
  width: 300px; }

.boatLeft {
  border-radius: 0 0 0 150px; }

.boatRight {
  border-radius: 0 0 150px 0; }

.mast {
  background-color: brown;
  height: 300px;
  width: 10px; }

.sail {
  width: 0;
  height: 0;
  border-left: 200px solid white;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent; }

.pageWrapper {
  display: flex;
  flex-direction: row;
  width: 12000px;
  height: 2000px;
  flex-wrap: nowrap;
  justify-content: flex-start;
  background: #eef7fa;
  position: absolute; }

.page {
  display: flex;
  flex-direction: column; }

.title {
  position: absolute;
  font-family: "Quicksand", cursive; }

.background {
  width: 1000px;
  opacity: 0;
  height: 100%;
  position: relative;
  border: 1px solid black;
  z-index: 1; }

.blank {
  height: 100%;
  position: relative;
  border: 1px solid black; }

.mainTextBox {
  width: 500px;
  height: 200px;
  background-color: white;
  position: absolute;
  border-radius: 25px;
  margin-top: 30px;
  margin-left: 300px;
  margin-right: 300px; }

.dottedLineBox {
  width: 400px;
  height: 160px;
  border: 5px dashed red;
  border-radius: 25px;
  margin: 0 auto; }

.married {
  padding: 10px;
  text-align: center; }

.waveContainer {
  bottom: 0;
  z-index: 1;
  background: #eef7fa; }

.water {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  overflow: hidden;
  left: 50%;
  top: 80%;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  z-index: 90; }

.wave {
  width: 650px;
  height: 700px;
  position: absolute;
  margin-left: -500px;
  margin-top: -500px;
  border-radius: 45%;
  background: #eef7fa;
  animation: wave 15s infinite linear; }

.wave1 {
  left: 5%; }

.wave2 {
  left: 10%; }

.wave3 {
  left: 15%; }

.wave4 {
  left: 20%; }

.wave5 {
  left: 25%; }

@keyframes wave {
  from {
    transform: rotate(0deg); }
  from {
    transform: rotate(360deg); } }

/*
Vendors - third party stylesheets
*/
