@import 'typography';
@import '../modules/colors';

.pageWrapper {
	display: flex;
	flex-direction: row;
	width: 12000px;
	height: 2000px;
	flex-wrap: nowrap;
	justify-content: flex-start;
  background: rgba(238,247,250,1);
  position: absolute;
}

.page {
	display: flex;
	flex-direction: column; 

}

.title  {
	position: absolute;
  font-family: $titleFont;
}

.background {
  width: 1000px;
  opacity: 0;
  height: 100%;
  position: relative;
  border: 1px solid black;
  z-index: 1;
}

.blank {
  height: 100%;
  position: relative;
  border: 1px solid black; 
}