.mainTextBox {
	width: 500px;
	height: 200px;
	background-color: white;
	position: absolute;
	border-radius: 25px;
}

.dottedLineBox {
	width: 400px;
	height: 160px;
	border: 5px dashed red;
	border-radius: 25px;
	margin: 0 auto;
}

.married {
	padding: 10px;
	text-align: center;
}