// GOOGLE FONTS
@import url('https://fonts.googleapis.com/css?family=Quicksand|Fira+Sans|PT+Sans+Narrow');

$secondTitle: 'Fira Sans', sans-serif;
$mainFont: 'PT Sans Narrow', sans-serif;
$titleFont: 'Quicksand', cursive;