.waveContainer {
	bottom: 0;
	z-index: 1;
	background: rgba(238,247,250,1);
	height: 100%;
}
.water {
	width: 100%;
	height: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	border-radius: 5px;
	overflow: hidden;
	left: 50%;
	top: 80%;
	background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

.wave {
	width: 650px;
	height: 700px;
	position: absolute;
	margin-left: -500px;
	margin-top: -500px;
	border-radius: 45%;
	background: rgba(238,247,250,1);
	animation: wave 15s infinite linear;
}

.wave1 {
	left: 15%;
}

.wave2 {
	left: 40%;
}

.wave3 {
	left: 65%;
}

.wave4 {
	left: 90%;
}

.wave5 {
	left: 105%;
}

@keyframes wave {
  from { transform: rotate(0deg);}
  from { transform: rotate(360deg);}
}